* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#selector {
  margin: 50px;
}

#selector,
#boton {
  padding: 20px;
  border-radius: 10px;
  background-color: #353535;
  color: #ffffff;
  box-shadow: 2px 2px 0px 0px #c0c0c0;
  font-weight: 900;
  border: 3px solid #3a3939;
}

#selector:hover,
#boton:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 0.4s;
}
