.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
}

.casilla {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controles {
  margin-top: 20px;
  text-align: center;
}

#mensaje {
  margin-bottom: 20px;
}

.pregunta {
  margin-bottom: 10px;
}

.respuestas button {
  display: block;
  margin: 5px 0;
}
