/* Existing styles */
* {
  box-sizing: border-box;
  transition: all 0.3s;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: gray;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: calibri;
  font-size: 120%;
  overflow-y: hidden;
}

.contenedor {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  position: relative;
  background: white;
  min-width: 300px;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.categoria {
  opacity: 0.3;
  text-align: left;
}

.controles {
  margin: 1rem 0;
}

.pregunta {
  padding: 10px;
}

.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
}

.btn {
  background: white;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 700;
}

.btn:hover {
  transform: scale(1.05);
}

.numero {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  right: 10px;
}

.puntaje {
  padding: 10px;
  color: white;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.casilla {
  width: 50px;
  height: 50px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

#tirar-dado {
  margin-top: 20px;
}

.finJuego {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.final {
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  background: white;
  width: 60%;
}

.flecha-salida {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: black;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.flecha-salida::after {
  content: "";
  position: absolute;
  bottom: -17px; /* Mueve la flecha hacia abajo fuera del elemento */
  left: 0; /* Posiciona la flecha en la esquina izquierda */
  /* rotar sobre el eje x */
  transform: rotate(2deg);
  border-width: 10px;
  border-style: solid;
  border-color: #4caf50 transparent transparent transparent; /* Ajusta para que la flecha apunte hacia abajo */
}
